html,
body,
#root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    text-align: left;
}

a:link,
a:visited,
a:active {
    color: #0080a5;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
 
::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 8px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-width: 8px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}